    <footer>
        <div class="content_wrapper">
            <nav id="footer">
                {{#each navigation}}
                    <li>
                        <a href="{{this.url}}">{{this.title}}</a>
                    </li>
                {{/each}}
            </nav>
            <div>
                <p id="copyright">© {{year}} Pomelo Productions</p>
                <div id="social_media">
                    {{#each social_links}}
                        <a href="{{this}}" title="{{@key}}" target="_blank"><img src="{{theme_url}}/assets/images/social/{{@key}}.svg"/></a>
                    {{/each}}
                </div>
            </div>
        </div>
    </footer>

{{{ wp_footer }}}

<!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
<script>
    (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
            function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
        e=o.createElement(i);r=o.getElementsByTagName(i)[0];
        e.src='https://www.google-analytics.com/analytics.js';
        r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
    ga('create','{{ analytics_key }}','auto');ga('send','pageview');
</script>
</body>
</html>