</div> <!-- close the content wrapper -->
<div {{#if id}}id="{{id}}"{{/if}} class="section no-padding background-image-overlay full-width-section" style="background-image: url('{{background_url}}'); height: {{height}}vw">
    <div class="content" style="color: {{color}}; background-color: {{background_color}}">{{{content}}}</div>
</div>
<div class="content_wrapper top-padding">