</div> <!-- close the content wrapper -->
<div class="section no-padding featured">
    <a  href="{{primary_link}}">
        <div class="primary">
            <div class="arrow" style="background-image: url('{{theme_url}}/assets/images/arrow-down.svg')">{{{action_text}}}</div>
            <div class="preview" style="background-image: url({{primary_background_url}});">
                <div class="excerpt">
                    <h3 class="action">{{{action_text}}}</h3>
                    <h1>{{{primary_title}}}</h1>
                    <h3>{{{primary_subtitle}}}</h3>
                </div>
            </div>
        </div>
    </a>
    <div class="secondary">
        <a href="{{second_link}}" style="background-image: url('{{second_image_url}}')">
            <h4>{{{second_title}}}</h4>
        </a>
        <a href="{{third_link}}" style="background-image: url('{{third_image_url}}')">
            <h4>{{{third_title}}}</h4>
        </a>
    </div>
</div>
<div class="content_wrapper top-padding">