<div {{#if id}}id="{{id}}"{{/if}} class="wide-content">
    <div class="section">
        {{{ top_content }}}
        <div class="three-column">
            <div>{{{column_1}}}</div>
            <div>{{{column_2}}}</div>
            <div>{{{column_3}}}</div>
        </div>
    </div>
</div>
